@import "~antd/dist/antd.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.site-layout-content {
  min-height: 280px;
  padding: 50px;
  background: #fff;
}

.formItem {
  justify-content: center;
}

.formItem a{
  color:#0050b3;
}

.formItem a:hover{
  color:#1890ff;
}
