@import '~antd/dist/antd.css';

html,
body {
   padding: 0;
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
   color: #1890ff;
   text-decoration: none;
}

* {
   box-sizing: border-box;
}

.flex {
   display: flex;
}

.justify-between {
   justify-content: space-between;
}

.align-center {
   align-items: center;
}

.text-blue {
   color: #1890ff;
}

.item-center {
   display: flex;
   align-content: center;
   justify-content: center;
   align-items: center;
}

.site-layout-content {
   min-height: 280px;
   padding: 20px;
   background: #fff;
}

.formItem {
   justify-content: center;
}

.site-layout .site-layout-background {
   background: #fff;
}

.logo {
   height: 64px;
   display: inline-flex;
   width: 100%;
   justify-content: center;
   align-items: center;
   font-size: 24px;
   color: #fff;
   text-shadow: 5px 1px 5px;
   transform: rotateX(45deg);
   font-family: monospace;
}

.flex-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.about-heading {
   color: rgb(115, 86, 241);
   margin: 20px 0px;
   font-size: 24px;
}

.card-item {
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid rgb(243, 240, 240);
   margin-bottom: 15px;
   padding-bottom: 5px;
}

.back-to-top {
   background-color: rgba(128, 128, 128, 0.3);
   height: 70px;
   width: 70px;
}

.course-detail .ant-card-body {
   padding-bottom: 0;
}

.steps-content {
   margin-top: 30px;
   margin-bottom: 20px;
}
